.widget {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  right: 16rem;
  height: 3rem;
  display: flex;
  align-items: center;
  span {
    margin-inline: 1rem;
    white-space: nowrap;
  }
}

html.color-scheme-dark .widget__button--edit,
html.color-scheme-dark .widget__button--edit:hover,
.widget__button--edit:hover,
.widget__button--edit {
  background-color: transparent;
  border: none;
  white-space: nowrap;
}
